<table class="p-56">
  <thead class="text-3xl">
    <th class="p-5">MARCA</th>
    <th class="p-5">MODELO</th>
    <th class="p-5">TALLAS</th>
    <th class="p-5">ESTADO</th>
    <th class="p-5">PRECIO</th>
    <th class="p-5">OFERTA</th>
    <th class="p-5">STOCK</th>
    <th class="p-5">GENERO</th>
  </thead>
  <tbody>
    <tr *ngFor="let sneaker of sneakers" class="border-y-2">
      <td class="p-5">{{ sneaker.brand }}</td>
      <td class="p-5">{{ sneaker.model }}</td>
      <td class="p-5">{{ sneaker.size }}</td>
      <td class="p-5">{{ sneaker.onSale }}</td>
      <td class="p-5">{{ sneaker.price }}€</td>
      <td class="p-5">{{ sneaker.onSalePrice }}€</td>
      <td class="p-5">{{ sneaker.stock }}</td>
      <td class="p-5">{{ sneaker.gender }}</td>

      <td>
        <button (click)="handleDeleteSneaker(sneaker.id)">❌</button>
      </td>
      <td>
        <button (click)="handleEditSneaker(sneaker.id)">✏️</button>
      </td>
    </tr>
  </tbody>
</table>
