<main class="flex justify-center m-20">
  <div class="flex flex-col w-1/3 gap-10">
    <p class="m-2 text-3xl">¡NOS ENCANTAN LAS ZAPATILLAS!</p>
    <p>
      Con más de 2.500 tiendas en todo el mundo, Disi Sneakers es el líder
      mundial en venta minorista de calzado y ropa deportiva. Nuestra estrecha
      colaboración con las marcas más importantes nos empuja a ofrecerte siempre
      lo mejor y aquí encontrarás la mejor gama de productos. En Disi Sneakers,
      vivimos por y para las zapatillas, soñamos con ellas... En lo único que
      pensamos es en zapatillas y nada nos enorgullece más que ser capaces de
      mantener a nuestros seguidores al día con las últimas tendencias.
    </p>
    <p>
      Durante más de 30 años, nuestras colecciones han sido pensadas por amantes
      de las zapatillas para amantes de las zapatillas. En nuestros estantes y
      en nuestros catálogos online solo encontrarás las mejores creaciones, los
      productos más destacados e interesantes. “Si está en Disi Sneakers, está
      aprobado”. Es la voz de la calle. Tanto si eres amante de las zapatillas
      desde siempre como si estás buscando simplemente un par de zapatillas
      nuevas, Disi Sneakers tiene lo que buscas, de los pies a la cabeza. ¡No te
      olvides de echar un vistazo a nuestras fantástica líneas de ropa y
      accesorios! Recuerda: no encontrarás la mayoría de nuestros productos en
      ninguna otra parte.
    </p>
    <p>
      Tan solo en Europa, Disi Sneakers cuenta con más de 620 tiendas en
      emplazamientos de primera, repartidas entre 20 países y con cerca de 30
      años de historia. Disi Sneakers Europa cuenta también con una gran
      experiencia digital para nuestra siempre creciente legión de fans, a
      través de una nueva página web y de las dinámicas e interactivas
      plataformas sociales. Por último y no por ello menos importante, Disi
      Sneakers es un elemento estrechamente vinculado a la cultura de la calle,
      al mundo de las zapatillas y al estilo de vida deportivo en Europa. Nos
      esforzamos por devolver algo a la comunidad y participamos en numerosos
      acontecimientos y eventos en todo el continente. Fiestas, competiciones
      deportivas, encuentros sociales, exposiciones de zapatillas... Disi
      Sneakers siempre está presente en algún evento.
    </p>
    <p>
      Permanece atento, sigue haciendo de las zapatillas un estilo de vida y
      pisa fuerte con Disi Sneakers.
    </p>
  </div>
  <div class="w-1/3"><app-banner-three></app-banner-three></div>
</main>
