<footer
  class="flex items-center text-xl bg-neutral-900 text-slate-50 justify-evenly h-80"
>
  <div class="w-1/5">
    <p class="footer-paragraph">Pago</p>
    <div class="flex flex-wrap w-11/12 gap-5">
      <img
        src="../../../assets/payment-icons/paypal-icon.svg"
        alt="Paypal icon"
        class="w-14"
      />
      <img
        src="../../../assets/payment-icons/visa-icon.svg"
        alt="Visa icon"
        class="w-14"
      />
      <img
        src="../../../assets/payment-icons/mastercard-icon.svg"
        alt="MasterCard icon"
        class="w-14"
      />
      <img
        src="../../../assets/payment-icons/sofort-icon.svg"
        alt="Sofort icon"
        class="w-14"
      />
      <img
        src="../../../assets/payment-icons/tarjeta-regalo-icon.svg"
        alt="Tarjeta Regalo icon"
        class="w-14"
      />
    </div>
  </div>

  <div class="w-1/5">
    <p class="footer-paragraph">Social Media</p>
    <div class="flex flex-wrap w-11/12 gap-10">
      <img
        src="../../../assets/socialmedia-icons/instagram-icon.svg"
        alt="Instagram icon"
        class="w-8"
      />
      <img
        src="../../../assets/socialmedia-icons/facebook-icon.svg"
        alt="Facebook icon"
        class="w-8"
      />
      <img
        src="../../../assets/socialmedia-icons/twitter-icon.svg"
        alt="Twitter icon"
        class="w-8"
      />
      <img
        src="../../../assets/socialmedia-icons/telegram-icon.svg"
        alt="Telegram icon"
        class="w-8"
      />
    </div>
  </div>

  <div class="flex flex-col w-1/5">
    <a class="footer-paragraph" routerLink="about">About</a>
    <div>
      <p>Términos y condiciones</p>
      <p>Prensa</p>
      <p>Ajuste de las cookies</p>
    </div>
  </div>

  <div class="flex flex-col w-1/5">
    <p class="footer-paragraph">Servicios</p>
    <div>
      <p>Contacto</p>
      <p>Newsletter</p>
      <p>Store Finder</p>
    </div>
  </div>
</footer>
