<div class="flex justify-end font-Roboto">
  <div class="fixed z-30 flex flex-col w-2/12 h-full p-5 pl-10 bg-slate-200">
    <button (click)="handlerLoginModalEvent()">
      <p class="text-2xl text-right">❎</p>
    </button>
    <p class="text-5xl">Carro:</p>
    <p *ngIf="totalPrice === 0" class="my-16 text-2xl">
      No hay productos en el carrito 😢
    </p>
    <app-cart-list [totalPrice]="totalPrice"></app-cart-list>
    <p *ngIf="!!totalPrice" class="mt-10 text-2xl font-Koulen">
      Total: {{ totalPrice }} €
    </p>
    <div class="p-1 m-4 text-2xl text-center bg-green-600 text-slate-100">
      <button
        (click)="initializePayment(totalPrice, completeOrders.bind(this))"
      >
        Comprar
      </button>
    </div>
    <p class="my-10">PLACEHOLDER: 4242424242424242</p>
  </div>
</div>
