<style>
  li {
    font-family: "Koulen", sans-serif;
  }
</style>

<nav>
  <ul [class]="isScrolled ? 'flex text-4xl gap-20' : 'flex text-6xl gap-20 '">
    <li>
      <a routerLink="" class="transition-colors hover:text-slate-400">INICIO</a>
    </li>
    <li>
      <a
        routerLink="multipage/hombre"
        class="transition-colors hover:text-slate-400"
        >HOMBRE</a
      >
    </li>
    <li>
      <a
        routerLink="multipage/mujer"
        class="transition-colors hover:text-slate-400"
        >MUJER</a
      >
    </li>
    <li>
      <a
        routerLink="multipage/onSale"
        class="text-red-500 transition-colors hover:text-red-300"
        >OFERTAS</a
      >
    </li>
  </ul>
</nav>
