<div>
  <app-login-modal *ngIf="loginModal"></app-login-modal>
  <app-register-modal *ngIf="registerModal"></app-register-modal>
  <app-cart-modal *ngIf="cartModal"></app-cart-modal>

  <app-admin-edit-modal *ngIf="adminEditModal"></app-admin-edit-modal>

  <div
    [ngClass]="{
      blur: loginModal || registerModal
    }"
  >
    <app-header [isScrolled]="isScrolled"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>

<!-- FORMULARIO FIREBASE -->
<input type="file" (change)="uploadImage($event)" />
