<header>
  <app-banner-three></app-banner-three>
  <div class="flex flex-col items-center justify-center">
    <app-menu></app-menu>
    <app-cart *ngIf="isLogged" class="absolute top-5 right-32"></app-cart>
    <app-auth
      [isLogged]="isLogged"
      [isAdmin]="isAdmin"
      class="absolute top-5 right-5"
    ></app-auth>
    <div class="p-10"><app-search-bar></app-search-bar></div>
  </div>
  <app-banner></app-banner>
</header>

<header
  *ngIf="isScrolled"
  class="fixed top-0 flex flex-col items-center justify-center w-full align-middle bg-white"
>
  <div class="flex items-center">
    <app-logo [isScrolled]="isScrolled"></app-logo>
    <app-menu [isScrolled]="isScrolled"></app-menu>
    <app-cart *ngIf="isLogged" class="absolute right-24"></app-cart>
  </div>
  <div class="p-5"><app-search-bar></app-search-bar></div>
</header>
