<header>
  <div class="flex flex-col items-center justify-center">
    <app-logo></app-logo>
    <app-menu></app-menu>
    <app-cart *ngIf="isLogged" class="absolute top-5 right-32"></app-cart>
    <app-auth [isLogged]="isLogged" class="absolute top-5 right-5"></app-auth>
    <div class="p-10"><app-search-bar></app-search-bar></div>
  </div>
  <app-banner></app-banner>
</header>

<header
  *ngIf="isScrolled"
  class="fixed w-full top-0 bg-white flex flex-col align-middle justify-center items-center"
>
  <div class="flex items-center">
    <app-logo [isScrolled]="isScrolled"></app-logo>
    <app-menu [isScrolled]="isScrolled"></app-menu>
    <app-cart *ngIf="isLogged" class="absolute right-24"></app-cart>
  </div>
  <div class="p-5"><app-search-bar></app-search-bar></div>
</header>
