<style>
  p {
    font-family: Koulen, sans-serif;
  }
</style>

<p
  *ngIf="sneaker.stock === 0"
  class="bg-red-500 text-slate-50 absolute p-1 -rotate-90 -translate-x-7 translate-y-7"
>
  OUT OF STOCK
</p>
<img src="{{ sneaker.images }}" alt="{{ sneaker.model }} photo" />
<p class="text-gray-500 text-2xl">{{ sneaker.brand }}</p>
<p class="text-3xl">{{ sneaker.model }}</p>

<div *ngIf="sneaker.onSale" class="flex justify-end gap-5">
  <p class="line-through text-2xl">{{ sneaker.price }}€</p>
  <p class="text-red-500 text-2xl">{{ sneaker.onSalePrice }}€</p>
</div>
