<div
  class="fixed z-20 flex w-screen h-full bg-black bg-opacity-50 shadow-lg font-Roboto text-slate-100"
>
  <div
    class="flex flex-col justify-center w-2/6 p-10 mx-auto bg-gray-700 h-4/6 translate-y-1/4"
  >
    <button
      (click)="handlerRegisterModalEvent()"
      class="text-4xl translate-x-2/4 translate-y-2/4"
    >
      ❎
    </button>
    <p class="m-20 text-4xl text-center font-Koulen">REGISTER</p>
    <form [formGroup]="formRegister" class="flex flex-col gap-2 text-lg">
      <label for="name">Nombre</label>
      <input
        type="text"
        name="name"
        id="name"
        class="text-black"
        formControlName="name"
      />
      <label for="surname">Apellidos</label>
      <input
        type="text"
        name="surname"
        id="surname"
        class="text-black"
        formControlName="surname"
      />
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="text-black"
        formControlName="email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="text-black"
        formControlName="password"
      />
    </form>
    <p
      *ngIf="invalidType"
      class="absolute my-2 text-xl transition-all -translate-y-24 bg-red-500 animate-pulse"
    >
      ERROR: Por favor, introduzca datos válidos
    </p>
    <button
      (click)="registerHandler()"
      class="text-xl transition-colors bg-green-600 mt-9 hover:bg-green-900"
    >
      REGISTER
    </button>
    <button
      (click)="goToLoginHanlder()"
      class="mt-5 text-left text-blue-400 transition-colors hover:text-purple-600"
    >
      Si ya estás registrado, inicia sesión
    </button>
  </div>
</div>
