<div class="flex gap-20 m-20">
  <div class="flex">
    <ul class="flex flex-col gap-6 justify-center">
      <li *ngFor="let image of restOfImages">
        <img [src]="image" alt="Sneaker Image" class="w-44 object-scale-down" />
      </li>
    </ul>
  </div>
  <div class="flex">
    <button (click)="prevImageHandler()" class="p-5 transofrm -rotate-180">
      <img
        src="../../assets/details-icons/arrow-icon.svg"
        alt="Next button icon"
      />
    </button>

    <img [src]="focusedImage" alt="Sneaker Image" class="object-scale-down" />

    <button (click)="nextImageHandler()" class="p-5">
      <img src="../../assets/details-icons/arrow-icon.svg" alt="Arrow Icon" />
    </button>
  </div>
  <div>
    <div>
      <div class="mb-36">
        <p class="font-Koulen text-gray-500 text-5xl">{{ sneaker.brand }}</p>
        <p class="font-Koulen text-7xl">{{ sneaker.model }}</p>
      </div>

      <div class="mb-36">
        <p class="font-Roboto">Tallas disponibles:</p>
        <ul class="flex flex-wrap gap-2">
          <li *ngFor="let size of sneaker.size">
            <button
              (click)="selectSize(size)"
              class="bg-gray-100 border-2 border-neutral-500 px-3"
            >
              {{ size }}
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p
          class="text-2xl font-Roboto"
          [ngClass]="{ invisible: selectedSize === 'initialValue' }"
        >
          Talla Seleccionada: {{ selectedSize }}
        </p>
        <button
          (click)="addCartHandler()"
          class="w-96 bg-orange-400 text-slate-100 text-2xl p-2"
        >
          Añadir a la cesta
        </button>
      </div>
    </div>
  </div>
</div>
